@font-face {
  font-family: "Century Gothic";
  src: url("/font/CenturyGothic.ttf") format("truetype"),
    url("/font/CenturyGothic.woff") format("woff"),
    url("/font/CenturyGothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/font/CenturyGothicBold.ttf") format("truetype"),
    url("/font/CenturyGothicBold.woff") format("woff"),
    url("/font/CenturyGothicBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/font/CenturyGothicItalic.ttf") format("truetype"),
    url("/font/CenturyGothicItalic.woff") format("woff"),
    url("/font/CenturyGothicItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/font/CenturyGothicBoldItalic.ttf") format("truetype"),
    url("/font/CenturyGothicBoldItalic.woff") format("woff"),
    url("/font/CenturyGothicBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
